<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453421016006-pbe8s5ea8vheoap36hb5ooirhj2jt4po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453421016006-pbe8s5ea8vheoap36hb5ooirhj2jt4po</string>
	<key>API_KEY</key>
	<string>AIzaSyAM5IDdc6KGov9JRvuVsDpxWbGWaNe-Cos</string>
	<key>GCM_SENDER_ID</key>
	<string>453421016006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stackedDemo</string>
	<key>PROJECT_ID</key>
	<string>stacked-demo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>stacked-demo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453421016006:ios:5e5944063f8467d717c8c7</string>
</dict>
</plist>